/* root */

* {
    box-sizing: border-box;
}

html {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Cardo', serif; */
    font-family: 'The Girl Next Door', cursive;
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Nanum Brush Script', cursive; */
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
}

.scrollContainer {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 140vh;
    width: 80vw;
    margin-top: 5vh;
}

/* menu */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.menu_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25vw;
    margin-top: 4vh;
}

.menu_page p {
    cursor: pointer;
    justify-self: center;
    font-size: 2.3vh;
    color: rgb(100, 100, 100);
    transition-duration: .1s;
}

.menu_page p:hover {
    color: lightgray;
}

.header {
    align-items: center;
    margin-top: 6vh;
}

.menuBlank {
    margin-top: 4vh;
}

.header, .menuBlank {
    display: flex;
    /* height: 9vh; */
}

.menuBlank img {
    height: 4vh;
    margin: .5vh;
    opacity: .3;
}
.menuBlank a {
    height: 4vh;
    transition-duration: .2s;
}
.menuBlank a:last-child {
    /* border-left: 1px solid lightgray; */
}
.menuBlank a:hover {
    opacity: .6;
}

.header img {
    height: 15vh;
    margin: 0 2vw;
}

.header h1, .header a {
    color: rgb(100, 100, 100);
}

.header h1 {
    font-size: 5vh;
    font-weight: 400;
    padding-top: 2vh;
}

.header a {
    font-size: 3vh;
    /* margin: 0 3vh; */
}

.image {
    justify-self: center;
    align-self: center;
    max-height: 40vh;
    max-width: 25vw;
    border-radius: .5vh;
    box-shadow: .3vh .3vh 1vh lightgray;
    transition: .2s ease-in;
}

.headline_overlay {
    position: absolute;
    top: 2.5vh;
    left: 12.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 40vh;
    /* border-top: .2vh solid rgba(15, 36, 83, .7);
    border-bottom: .2vh solid rgba(15, 36, 83, .7); */
    /* background-color: rgba(255, 255, 255, .9); */
}

.headline_overlay p {
    font-size: 3.5vh;
    color: rgb(70, 70, 70);
}


.line {
    position: fixed;
    background-image: -webkit-linear-gradient(top, rgba(15, 36, 83, .1), rgba(15, 36, 83, .5), rgba(15, 36, 83, .1));
}
.horizontal {
    height: 1px;
    width: 80vw;
}
.vertical {
    width: 1px;
    height: 74vh;
}
.top {
    top: 37vh;
    left: 10vw;
}
.bottom {
    top: 65vh;
    left: 10vw;
}
.left {
    top: 14vh;
    left: 40vw;
}
.right {
    top: 14vh;
    left: 60vw;
}
