/* root */

:root {
    /* --fontone: 'Fredericka the Great', cursive; */
    /* --fontone: 'Cormorant Garamond', serif; */
    /* --fontone: 'Annie Use Your Telescope', cursive; */
    /* --fontone: 'Cardo', serif; */
    /* --fontone: 'Shadows Into Light', cursive; */
    /* --fontone: 'Nanum Brush Script', cursive; */
    --fontone: 'The Girl Next Door', cursive;
    --fonttwo: Verdana;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--fontone);
}

body {
    margin: 0;
    color: rgb(95, 95, 95);
}

a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

input {
    font-family: var(--fontone);
    font-size: 2.5vh;
    text-align: center;
    height: 4vh;
    width: 28vw;
    margin-bottom: 2vh;
}

textarea {
    font-family: var(--fonttwo);
    font-size: 1.5vh;
    min-height: 18vh;
    width: 28vw;
    padding: 1vh;
}

label {
    cursor: pointer;
    font-size: 2vh;
    text-align: center;
    width: 10vw;
    border: .1vh solid gray;
    margin-top: 2vh;
    background-color: whitesmoke;
}

button {
    cursor: pointer;
    font-family: var(--fontone);
    font-size: 2vh;
    width: 10vw;
    margin-top: 2vh;
}

.router-link-active {
    text-decoration: underline;
}

/* menu */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.headline {
    display: flex;
    align-items: center;
    margin-top: 6vh;
}

.headline h1 {
    font-size: 5vh;
    padding-top: 2vh;
}

.headline img {
    height: 15vh;
    margin: 0 2vw;
}

.page-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 25vw;
    margin-top: 4vh;
}

.page-menu a {
    cursor: pointer;
    white-space: nowrap;
    justify-self: center;
    font-size: 2.3vh;
    transition-duration: .15s;
}

.page-menu a:hover {
    color: lightgray;
}

.web-menu {
    display: flex;
    margin-top: 4vh;
}

.web-menu a {
    height: 4vh;
    transition-duration: .15s;
}

.web-menu a:hover {
    opacity: .6;
}

.web-menu img {
    height: 4vh;
    margin: .5vh;
    opacity: .3;
}

/* content */

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.scroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 8vh;
    width: 80vw;
}

.projects-container {
    margin: 4vh 0 8vh 0;
}

.images-container {
    margin: 8vh 0;
}

.scroll-container__item {
    position: relative;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-container__item h2 {
    font-size: 2.5vh;
    white-space: nowrap;
    margin-bottom: 1vh;
    color: rgb(180, 180, 180);
}

.scroll-container__item img {
    max-height: 40vh;
    max-width: 25vw;
    border-radius: .5vh;
    box-shadow: .3vh .3vh 1vh lightgray;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-top: 8vh;
}

.info-container img {
    justify-self: end;
    max-height: 50vh;
    max-width: 32vw;
}

.contact-form {
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h2 {
    font-size: 3vh;
}

.info h1 {
    font-size: 4vh;
    margin: 0;
}

.info h2 {
    font-size: 2.5vh;
    margin: 0;
}

.info h4 {
    font-size: 1.5vh;
    font-family: var(--fonttwo);
    font-weight: 700;
}

.info p {
    margin: 0 0 2vh 0;
}

/* admin */

.admin-menu {
    position: absolute;
    left: 4vw;
    top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 12vw;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-menu h2 {
    font-size: 3vh;
    margin: 1vw 0 -2vh 0;
}

.admin-template-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 1vw 1vw;
    margin: 10vh;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-template-container h2 {
    font-size: 3vh;
}

.admin-content-creator {
    position: absolute;
    top: 3vh;
    left: 69vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-bottom: 3vh;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-content-creator h2 {
    font-size: 3vh;
    margin: 1vw;
}

.admin-content-creator input {
    margin-top: 2vh;
}

.admin-content-creator img {
    max-height: 40vh;
    max-width: 25vw;
}

#fileInput {
    display: none;
}

.admin-overlay {
    position: absolute;
    left: 2vh;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 36vh;
    padding-bottom: 1vh;
    border-radius: .5vh;
    background-color: white;
    opacity: 0;
    transition-duration: .2s;
}

.admin-overlay:hover {
    opacity: .9;
}

.admin-overlay p {
    font-size: 2vh;
    height: 11vh;
    overflow: scroll;
}

.admin-overlay__inputs {
    display: flex;
    flex-wrap: wrap;
}

.admin-overlay__inputs input {
    width: 35vh;
    margin: 1vh .5vh;
}

.admin-overlay__inputs button {
    width: 11vh;
    margin: 1vh .5vh;
}

button.admin-overlay__button--delete {
    width: 17vh;
    color: red;
}

button.admin-overlay__button--settitle {
    width: 35vh;
}

/* mobile view */

@media only screen and (max-width: 480px) {
    /* root */

    input, textarea, label, button {
        border: .2vh solid gray;
    }

    input {
        height: 5vh;
        width: 90vw;
        margin-bottom: 1vh;
    }

    textarea {
        min-height: 15vh;
        width: 90vw;
        padding: .5vh;
    }

    label {
        font-size: 2.5vh;
        width: 35vw;
        margin-top: 1vh;
    }

    button {
        font-size: 2.5vh;
        width: 35vw;
        margin-top: 1vh;
    }

    /* menu */

    .headline {
        margin: 0;
    }

    .headline h1 {
        font-size: 4vh;
    }

    .headline img {
        height: 12vh;
    }

    .page-menu {
        width: 98vw;
        margin-top: 3vh;
    }

    .page-menu a {
        font-size: 3vh;
    }

    .web-menu {
        margin-top: 3vh;
    }

    .web-menu a {
        height: 6vh;
    }

    .web-menu img {
        height: 6vh;
    }

    /* content */

    .scroll-container {
        display: block;
        width: 95vw;
    }

    .projects-container {
        margin: 3vh 0;
    }

    .images-container {
        margin: 6vh 0 3vh 0;
    }

    .scroll-container__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

    .scroll-container__item h2 {
        font-size: 3vh;
    }

    .scroll-container__item img {
        max-height: 50vh;
        max-width: 95vw;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-container img {
        max-height: 18vh;
        max-width: 36vw;
        margin: -4vh 0 -2vh 0;
    }

    .info h1 {
        font-size: 4vh;
        margin: 0;
    }

    .info h2 {
        font-size: 2.5vh;
        margin: 0;
    }

    .info h4 {
        font-size: 1.5vh;
        font-family: var(--fonttwo);
        font-weight: 700;
    }

    .info p {
        margin: 0 0 2vh 0;
    }

    /* admin */

    .admin-menu {
        position: static;
        height: 14vh;
        width: 90vw;
        margin-top: 1vh;
    }

    .admin-menu h2 {
        font-size: 3vh;
        margin: 1vw 0 -1vh 0;
    }

    .admin-content-creator {
        position: static;
        width: 95vw;
        margin-bottom: 3vh;
    }

    .admin-content-creator h2 {
        margin: 1vw;
    }

    .admin-content-creator img {
        max-height: 50vh;
        max-width: 95vw;
    }

    .admin-overlay {
        left: 5vw;
        bottom: 0;
        height: 48vh;
        width: 85vw;
        opacity: .8;
    }

    .admin-overlay p {
        font-size: 2.5vh;
    }

    .admin-overlay__inputs input {
        width: 80vw;
        margin: 1vh 2.5vw;
    }

    .admin-overlay__inputs button {
        width: 24vw;
        margin: 1vh 1.5vw 1vh 2.5vw;
    }

    button.admin-overlay__button--delete {
        width: 38vw;
    }

    button.admin-overlay__button--settitle {
        width: 80vw;
    }
}
