/* root */

* {
    box-sizing: border-box;
}

html {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Cardo', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Nanum Brush Script', cursive; */
    font-family: 'The Girl Next Door', cursive;
}

body {
    margin: 0;
    color: rgb(95, 95, 95);
}

a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

input {
    font-family: 'The Girl Next Door', cursive;
    font-size: 2.5vh;
    text-align: center;
    height: 4vh;
    width: 28vw;
    margin-bottom: 2vh;
}

label {
    cursor: pointer;
    font-size: 2vh;
    text-align: center;
    width: 10vw;
    border: .1vh solid gray;
    margin-top: 2vh;
    background-color: whitesmoke;
}

button {
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 2vh;
    width: 10vw;
    margin-top: 2vh;
}

.router-link-active {
    text-decoration: underline;
}

/* menu */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header h2 {
    font-size: 3vh;
    margin: 4vh 0 -2vh 0;
}

.headline {
    display: flex;
    align-items: center;
    margin-top: 6vh;
}

.headline h1 {
    font-size: 5vh;
    font-weight: 400;
    padding-top: 2vh;
}

.headline img {
    height: 15vh;
    margin: 0 2vw;
}

.page-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 25vw;
    margin-top: 4vh;
}

.page-menu a {
    cursor: pointer;
    white-space: nowrap;
    justify-self: center;
    font-size: 2.3vh;
    transition-duration: .15s;
}

.page-menu a:hover {
    color: lightgray;
}

.web-menu {
    display: flex;
    margin-top: 4vh;
}

.web-menu a {
    height: 4vh;
    transition-duration: .15s;
}

.web-menu a:hover {
    opacity: .6;
}

.web-menu img {
    height: 4vh;
    margin: .5vh;
    opacity: .3;
}

.admin-menu {
    position: absolute;
    left: 4vw;
    top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 12vw;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-menu h2 {
    margin-top: 1vw;
}

/* content */

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.scroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 8vh;
    width: 80vw;
    padding: 8vh 0;
}

.scroll-container__item {
    position: relative;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-container__item h2 {
    font-size: 2.5vh;
    white-space: nowrap;
    margin: 0 0 1vh 0;
}

.scroll-container__item img {
    max-height: 40vh;
    max-width: 25vw;
    border-radius: .5vh;
    box-shadow: .3vh .3vh 1vh lightgray;
}

/* admin */

.admin-template-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 1vw 1vw;
    margin: 10vh;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-template-container h2 {
    font-size: 3vh;
}

.admin-content-creator {
    position: absolute;
    top: 3vh;
    left: 69vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-bottom: 3vh;
    border-radius: 1vh;
    background-color: whitesmoke;
}

.admin-content-creator h2 {
    margin: 1vw;
}

.admin-content-creator img {
    max-height: 40vh;
    max-width: 25vw;
}

#fileInput {
    display: none;
}

.admin-overlay {
    position: absolute;
    left: 2vh;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38vh;
    width: 36vh;
    border-radius: .5vh;
    background-color: white;
    opacity: 0;
    transition-duration: .2s;
}

.admin-overlay:hover {
    opacity: 1;
}

.admin-overlay p {
    font-size: 2vh;
    height: 11vh;
    overflow: scroll;
}

.admin-overlay__inputs {
    display: flex;
    flex-wrap: wrap;
}

.admin-overlay__inputs input {
    width: 35vh;
    margin: 1vh .5vh;
}

.admin-overlay__inputs button {
    width: 11vh;
    margin: 1vh .5vh;
}

button.admin-overlay__button--delete {
    width: 17vh;
    color: red;
}

button.admin-overlay__button--settitle {
    width: 35vh;
}
