/* root */

* {
    box-sizing: border-box;
}

html {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Cardo', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Nanum Brush Script', cursive; */
    font-family: 'The Girl Next Door', cursive;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    font-family: 'The Girl Next Door', cursive;
    font-size: 2.5vh;
    text-align: center;
    height: 4vh;
    width: 30vw;
}

button {
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 2vh;
    width: 10vw;
    margin-top: 3vh;
}

/* menu */

header, .headline, .menu_target_blank {
    display: flex;
}

header {
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header h2 {
    font-size: 3vh;
    margin: 4vh 0 -2vh 0;
}

.headline {
    align-items: center;
    margin-top: 6vh;
}

.headline img {
    height: 15vh;
    margin: 0 2vw;
}

.headline h1 {
    font-size: 5vh;
    font-weight: 400;
    padding-top: 2vh;
}

.headline h1, .menu_page p {
    color: rgb(95, 95, 95);
}

.menu_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25vw;
    margin-top: 4vh;
}

.menu_page p {
    cursor: pointer;
    justify-self: center;
    font-size: 2.3vh;
    transition-duration: .15s;
}

.menu_page p:hover {
    color: lightgray;
}

.menu_target_blank {
    margin-top: 4vh;
}

.menu_target_blank img {
    height: 4vh;
    margin: .5vh;
    opacity: .3;
}

.menu_target_blank a {
    height: 4vh;
    transition-duration: .15s;
}

.menu_target_blank a:hover {
    opacity: .6;
}

/* content */

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.scroll_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 8vh;
    width: 80vw;
    padding: 8vh 0;
}

.image {
    justify-self: center;
    align-self: center;
    max-height: 40vh;
    max-width: 25vw;
    border-radius: .5vh;
    box-shadow: .3vh .3vh 1vh lightgray;
}

/* admin */

.login_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
}

.login_input h2 {
    font-size: 3vh;
}
